{{- partial "head/script.html" . -}}
<script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
  crossorigin="anonymous"></script>

{{ if .Site.Params.prism_syntax_highlighting -}}
<link rel="stylesheet" href="{{ "css/prism.css" | relURL }}"/>
{{ end -}}

<div class="loading">
    <!-- From Uiverse.io by 20essentials --> 
  <section class="container">
    <section class="loader">
      <article style="--rot: 0" class="sphere sphere1">
        <div class="item" style="--rot-y: 1"></div>
        <div class="item" style="--rot-y: 2"></div>
        <div class="item" style="--rot-y: 3"></div>
        <div class="item" style="--rot-y: 4"></div>
        <div class="item" style="--rot-y: 5"></div>
        <div class="item" style="--rot-y: 6"></div>
        <div class="item" style="--rot-y: 7"></div>
        <div class="item" style="--rot-y: 8"></div>
        <div class="item" style="--rot-y: 9"></div>
      </article>
      <article style="--rot: 1" class="sphere sphere2">
        <div class="item" style="--rot-y: 1"></div>
        <div class="item" style="--rot-y: 2"></div>
        <div class="item" style="--rot-y: 3"></div>
        <div class="item" style="--rot-y: 4"></div>
        <div class="item" style="--rot-y: 5"></div>
        <div class="item" style="--rot-y: 6"></div>
        <div class="item" style="--rot-y: 7"></div>
        <div class="item" style="--rot-y: 8"></div>
        <div class="item" style="--rot-y: 9"></div>
      </article>
      <article style="--rot: 2" class="sphere sphere3">
        <div class="item" style="--rot-y: 1"></div>
        <div class="item" style="--rot-y: 2"></div>
        <div class="item" style="--rot-y: 3"></div>
        <div class="item" style="--rot-y: 4"></div>
        <div class="item" style="--rot-y: 5"></div>
        <div class="item" style="--rot-y: 6"></div>
        <div class="item" style="--rot-y: 7"></div>
        <div class="item" style="--rot-y: 8"></div>
        <div class="item" style="--rot-y: 9"></div>
      </article>
      <article style="--rot: 3" class="sphere sphere4">
        <div class="item" style="--rot-y: 1"></div>
        <div class="item" style="--rot-y: 2"></div>
        <div class="item" style="--rot-y: 3"></div>
        <div class="item" style="--rot-y: 4"></div>
        <div class="item" style="--rot-y: 5"></div>
        <div class="item" style="--rot-y: 6"></div>
        <div class="item" style="--rot-y: 7"></div>
        <div class="item" style="--rot-y: 8"></div>
        <div class="item" style="--rot-y: 9"></div>
      </article>
      <article style="--rot: 4" class="sphere sphere5">
        <div class="item" style="--rot-y: 1"></div>
        <div class="item" style="--rot-y: 2"></div>
        <div class="item" style="--rot-y: 3"></div>
        <div class="item" style="--rot-y: 4"></div>
        <div class="item" style="--rot-y: 5"></div>
        <div class="item" style="--rot-y: 6"></div>
        <div class="item" style="--rot-y: 7"></div>
        <div class="item" style="--rot-y: 8"></div>
        <div class="item" style="--rot-y: 9"></div>
      </article>
      <article style="--rot: 5" class="sphere sphere6">
        <div class="item" style="--rot-y: 1"></div>
        <div class="item" style="--rot-y: 2"></div>
        <div class="item" style="--rot-y: 3"></div>
        <div class="item" style="--rot-y: 4"></div>
        <div class="item" style="--rot-y: 5"></div>
        <div class="item" style="--rot-y: 6"></div>
        <div class="item" style="--rot-y: 7"></div>
        <div class="item" style="--rot-y: 8"></div>
        <div class="item" style="--rot-y: 9"></div>
      </article>
      <article style="--rot: 6" class="sphere sphere7">
        <div class="item" style="--rot-y: 1"></div>
        <div class="item" style="--rot-y: 2"></div>
        <div class="item" style="--rot-y: 3"></div>
        <div class="item" style="--rot-y: 4"></div>
        <div class="item" style="--rot-y: 5"></div>
        <div class="item" style="--rot-y: 6"></div>
        <div class="item" style="--rot-y: 7"></div>
        <div class="item" style="--rot-y: 8"></div>
        <div class="item" style="--rot-y: 9"></div>
      </article>
      <article style="--rot: 7" class="sphere sphere8">
        <div class="item" style="--rot-y: 1"></div>
        <div class="item" style="--rot-y: 2"></div>
        <div class="item" style="--rot-y: 3"></div>
        <div class="item" style="--rot-y: 4"></div>
        <div class="item" style="--rot-y: 5"></div>
        <div class="item" style="--rot-y: 6"></div>
        <div class="item" style="--rot-y: 7"></div>
        <div class="item" style="--rot-y: 8"></div>
        <div class="item" style="--rot-y: 9"></div>
      </article>
      <article style="--rot: 8" class="sphere sphere9">
        <div class="item" style="--rot-y: 1"></div>
        <div class="item" style="--rot-y: 2"></div>
        <div class="item" style="--rot-y: 3"></div>
        <div class="item" style="--rot-y: 4"></div>
        <div class="item" style="--rot-y: 5"></div>
        <div class="item" style="--rot-y: 6"></div>
        <div class="item" style="--rot-y: 7"></div>
        <div class="item" style="--rot-y: 8"></div>
        <div class="item" style="--rot-y: 9"></div>
      </article>
    </section>
  </section>

</div>

<style>
    .loading {
        position: fixed;
        display: none;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        zoom: 1;
        background-color: #f5f5fa;
    }

    .animated-stop {
      animation-play-state: paused !important;
    }

    .scaleAndFadeout {
      animation: scaleAndFadeOut 1.5s forwards;
    }

    /** 放大1.5倍，并渐变到透明 */
    @keyframes scaleAndFadeOut {
      0% {
          transform: scale(1);
          opacity: 1;
      }
      100% {
          transform: scale(1.5);
          opacity: 0;
      }
    }
	
   /* From Uiverse.io by 20essentials */ 
    .container {
      position: absolute;
      inset: 0;
      zoom: 1;

      .loader {
        top: calc(50% - 200px);
        left: calc(50% - 200px);
        animation: girar 8s linear infinite;

        &,
        .sphere,
        .item {
          width: 400px;
          height: 400px;
          position: absolute;
          transform-style: preserve-3d;
          perspective: 10000px;
        }

        .sphere,
        .item {
          top: 0;
          left: 0;
        }

        .sphere {
          transform: rotate(calc(var(--rot) * 20deg));

          &.sphere1 {
            --bg: #f008;
          }

          &.sphere2 {
            --bg: #f0f8;
          }

          &.sphere3 {
            --bg: #ff08;
          }

          &.sphere4 {
            --bg: #0f08;
          }

          &.sphere5 {
            --bg: #0ff8;
          }

          &.sphere6 {
            --bg: #00f8;
          }

          &.sphere7 {
            --bg: #dc1ddf88;
          }

          &.sphere8 {
            --bg: #ffa50088;
          }

          &.sphere8 {
            --bg: #e5b2ca88;
          }
        }

        .item {
          border-radius: 50%;
          background: var(--bg);
          transform: rotateY(calc(var(--rot-y) * 40deg));
        }
      }
    }

    @keyframes girar {
      0% {
        transform: rotateX(0deg) rotateY(0deg);
      }
      100% {
        transform: rotateX(360deg) rotateY(360deg);
      }
    }
</style>

<script>	
    function initLoading() {
        const isFirstVisit = !sessionStorage.getItem('visited');
        if (isFirstVisit) {
            let loading = document.querySelector(".loading");
            loading.style.display = "flex";
            document.addEventListener('DOMContentLoaded', function() {
                // 执行加载完成动画
                loadFinish();
                // 延迟1.5s，待加载完成动画执行结束
                setTimeout(() => {
                    loading.style.display = "none";
                }, 1500)
                sessionStorage.setItem('visited', 'true');
            });
        }
    }
	
    function loadFinish() {
        // 暂停动画
        let sharingon= document.querySelector(".loader");
        sharingon.classList.add("animated-stop")
        // 放大并渐变到透明
        let loading = document.querySelector(".loading");
        loading.classList.add("scaleAndFadeout")
    }
	
    initLoading();
</script>
