<!DOCTYPE html>
<html>
<head>
    <!-- require APlayer -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
    <!-- require MetingJS -->
    <script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
</head>
<body>
    
    <div class="demo">
        <div id="player1">
        </div>
    </div>
    <script>
        var ap = new APlayer
            ({
                element: document.getElementById('player1'),
                fixed: true,
                autoplay: false,
                mini: true,
                theme: '#f8f4fc',
                loop: 'all',
                order: 'random',
                preload: 'auto',
                volume: 0.5,
                mutex: true,
                listFolded: false,
                listMaxHeight: 90,
                lrcType: 0,
                music:[{ 
                      name:'不再等你',
                      url:'https://music.163.com/song/media/outer/url?id=2066739831.mp3',
                      artists:'Mikey-18 / Lil Puff / 哨孟定',
                      cover:'https://p2.music.126.net/q5FOrbhzTJ9nbAEIVnnnSA==/109951168761454544.jpg'
                    },
                    { 
                      name:'晚安',
                      url:'https://music.163.com/song/media/outer/url?id=1359356908.mp3',
                      artists:'颜人中',
                      cover:'http://p2.music.126.net/-rC55JsnmEWvafJQsAZaWw==/109951170473693123.jpg'
                    },
                     { 
                      name:'你还爱我吗',
                      url:'https://music.163.com/song/media/outer/url?id=2072639869.mp3',
                      artists:'菲道尔 / DIOR大颖',
                      cover:'http://p2.music.126.net/WuRlLMuXJO9rsT_nx4lLgA==/109951169509984289.jpg'
                    },
                    { 
                      name:'今生戴花 世世漂亮',
                      url:'https://music.163.com/song/media/outer/url?id=2144073361.mp3',
                      artists:'浅影阿',
                      cover:'http://p1.music.126.net/eTK0Mq_t-UGp19YtklTfmg==/109951171898301750.jpg'
                    }
                ]
        });
        //ap.init();
    </script>
</body>
